* {
    margin: 0;
    border: 0;
    padding: 0;

}

#div_img {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    background-image: url(../img/imagemteste.jpg);
    background-size: 25%;
    background-repeat: repeat-y;
}